html, body {margin: 0;}
body {font-family: Arial;}

#wrapper {width: 100%;}

header {
	background-color: gray;
	margin: 0; padding: 0;
	position: fixed;
	width: 100%; 
	height: 40px;
	top: 0; left: 0;

	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin-right: 50px;
}

#info {
	display: inline-block;
	width: 20px; height: 20px;
	float: right;
	background-color: blue;
}



h2 {
	text-transform: uppercase;
	color: #333;}

img {
	max-width: 100%;
	margin: 0 auto;}

p {
	font-size: 1.1em;
	margin: 5px 0 5px 0;
	color: #222;}

article {margin-top: 50px;}
section {margin-bottom: 50px;}

#index_about {text-align: center;}
#about_text {
	/*margin: 40% auto 0;*/
	margin-top: 40%;
	background-color: red;
}