<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "by.e95.fruits"
        versionCode = "12" 
        version     = "20140113" >

	    <name>Фрукты</name>
	    <description>
	    	Фрукты - богатейший источник витаминов и питательных веществ. Постоянное их употребление укрепляет наш иммунитет и помогает организму лучше сопротивляться вирусным заболеваниям и простуде. 
	    	А ты знаешь какие фрукты помогают организму притупить чувство голода, какие являются хорошими жиросжигателями и что однозначно не следует есть во время диеты?!
	    </description>
	    <author href="http://e95.by" email="vasilychapaev@gmail.com">Vasily Chapaev</author>


	    <preference name="phonegap-version" value="3.1.0" />
	    <preference name="orienation" value="portrait" />
	    <icon src="assets/img/icon_fruits1.png" />
	    <gap:splash src="assets/img/splash_fruits.jpg" />

	    
	    <gap:platform name="android" />
	    

	</widget>